{% load staticfiles %}
<!DOCTYPE html>
<html><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!-- Standard Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<title>{% block headTitle %}{{HeadTitle.title}}: {{HeadTitle.section}}{% endblock %}</title>

	<link rel="stylesheet" href="{% static 'Semantic-UI/semantic.css' %}" >
	<link rel="stylesheet" href="{% static 'css/base_web.css' %}" >

	<script type="text/javascript" src="{% static 'jQuery/jquery-3.1.1.js' %}"></script>
	<script type="text/javascript" src="{% static 'Semantic-UI/semantic.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/base_web.js' %}"></script>

	{% block headScript %}{% endblock %}

</head>
<body class="pushable">

	<!-- Following Menu -->
	<div class="ui top fixed menu {% if isHome %}transition hidden{% endif %}">
		<div class="ui container">			
			<a class="toc item">
				<i class="sidebar icon"></i>Menú
			</a>
			<a class="item" href="/">Inicio</a>
			<a class="item" href="nosotros">Nosotros</a>
			<a class="item" href="servicios">Servicios</a>
			<a class="item contacto">Contacto</a>
			<div class="right item">
				<a href="/"><img class="ui mini image" src="{% static 'svg/logo timp black.svg' %}"></a>
			</div>
		</div>
	</div>

	<!-- Sidebar Menu -->
	<div class="ui vertical inverted sidebar menu left">
		<a class="item" href="/">Inicio</a>
		<a class="item" href="nosotros">Nosotros</a>
		<a class="item" href="servicios">Servicios</a>
		<a class="item contacto" >Contacto</a>
	</div>

<!-- Page Contents -->
<div class="pusher">	

	{% block bodyContent %}{% endblock %}
	
	<div class="ui inverted vertical footer segment">
		<div class="ui container">
			<div class="ui stackable inverted divided equal height stackable grid">
				<div class="twelve wide column" id="contacto">
					<h1 class="ui inverted header">Contacto</h1>
					<p>Para brindar una mejor atención, haga su reserva con anticipación</p>
					<div class="ui list">						
						<div class="item">
							<i class="mail icon"></i>
							<div class="content">
								<a href="mailto:pmvarelabravo@gmail.com">pmvarelabravo@gmail.com</a>
							</div>
						</div>
						<div class="item">
							<i class="mobile icon"></i>
							<i class="whatsapp icon"></i>
							<div class="content">
								<a href="tel:+56998831153">9 9883 1153</a>
							</div>
						</div>
						<div class="item">
							<i class="call icon"></i>
							<div class="content">
								<a href="tel:+56223191005">2 2319 1005</a>
								<small> lunes a viernes en horario de oficina</small>
							</div>
						</div>
					</div>
				</div>
				<div class="four wide column">
					<h4 class="ui inverted header">Timp Transportes</h4>
					<img class="ui small image" src="{% static 'svg/logo timp white.svg' %}">
					<p>Una marca de<br><i>Servicio de Transportes PyG Varela Sánchez Ltda</i>.</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body></html>