{% extends "base_site.html" %}
{% load staticfiles %}

{% block bodyContent %}
<div class="ui inverted vertical masthead center aligned segment">

	<div class="ui container">
		<div class="ui large secondary inverted pointing menu">
			<a class="toc item">
				<i class="sidebar icon"></i>Menú
			</a>
			<a class="item" href="/">Inicio</a>
			<a class="item" href="nosotros">Nosotros</a>
			<a class="item" href="servicios">Servicios</a>
			<a class="item contacto">Contacto</a>
		</div>
	</div>

	<div class="ui text container">
		<img class="ui fluid image" src="{% static 'svg/logo timp white.svg' %}">
		<div class="ui huge primary button contacto">Contactenos <i class="right arrow icon"></i></div>
	</div>

</div>


<div class="ui vertical stripe segment">
	<div class="ui text container">
		<h3 class="ui header">Sobre nosotros</h3>
		<p>Somos una empresa de transporte de pasajeros que da servicios a <b>empresas y personas</b>, con trato confiable y personalizado.</p>
		<a class="ui large button" href="nosotros">Ver más</a>
		<h3 class="ui header">Servicios</h3>
		<p>Transporte desde diversas comunas de Santiago a precios convenientes.</p>
		<a class="ui large button" href="servicios">Ver servicios</a>
	</div>
</div>
{% endblock %}