{% extends "base_site.html" %}
{% load staticfiles %}

{% block headScript %}
	<link rel="stylesheet" href="{% static 'Glide/css/glide.core.css' %}" >
	<link rel="stylesheet" href="{% static 'Glide/css/glide.theme.css' %}" >
	<script type="text/javascript" src="{% static 'Glide/glide.js' %}"></script>
	<style type="text/css">
	/*glide*/
	.glide__slide{
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 15em;
	}
	.ui.slideTitle{
		color: white;
		text-shadow:0px 0px 5px black;
		width: auto;
		text-align: center;
		margin-top: 1em;
	}
	/*vehicles*/
	.vehicles.segment .row {
		padding: .5em;
		background-color: green;
		color: #FFFFFF;
	}
	/*cost*/
	.inlinePrecio{
		display: inline;
	}
	</style>
	<script type="text/javascript">
	var jsonList= {	
		"estacionamiento":2500,
		"precios":[
		{"comuna": "ARRAYAN", "precio":25000},
		{"comuna": "BUIN", "precio":27000},
		{"comuna": "CALERA DE TANGO", "precio":26000},
		{"comuna": "CERRILOS", "precio":18000},
		{"comuna": "CERRO NAVIA", "precio":16000},
		{"comuna": "CIUDAD SATELITE", "precio":19000},
		{"comuna": "CIUDAD LOS VALLES", "precio":16000},
		{"comuna": "COLINA", "precio":22000},
		{"comuna": "CONCHALI", "precio":16000},
		{"comuna": "CHICUREO", "precio":22000},
		{"comuna": "EL BOSQUE", "precio":19000},
		{"comuna": "ESTACION CENTRAL", "precio":16000},
		{"comuna": "HUECHURABA", "precio":16000},
		{"comuna": "INDEPENDENCIA", "precio":16000},
		{"comuna": "ISLA DE MAIPO", "precio":24000},
		{"comuna": "LA CISTERNA", "precio":18000},
		{"comuna": "LA DEHESA", "precio":23000},
		{"comuna": "LA FLORIDA", "precio":21000},
		{"comuna": "LA GRANJA", "precio":18000},
		{"comuna": "LA PINTANA", "precio":19000},
		{"comuna": "LA REINA", "precio":22000},
		{"comuna": "LAS CONDES", "precio":20000},
		{"comuna": "LAS VIZCACHAS", "precio":26000},
		{"comuna": "LO BARNECHEA", "precio":23000},
		{"comuna": "LO ESPEJO", "precio":18000},
		{"comuna": "LOMAS  LO AGUIRRE", "precio":16000},
		{"comuna": "BATUCO", "precio":21000},
		{"comuna": "LO PRADO", "precio":16000},
		{"comuna": "MACUL", "precio":18000},
		{"comuna": "MAIPU", "precio":16000},
		{"comuna": "NOS", "precio":23000},
		{"comuna": "ÑUÑOA", "precio":20000},
		{"comuna": "PEDRO AGUIRRE CERDA", "precio":17000},
		{"comuna": "PEÑALOLEN", "precio":22000},
		{"comuna": "PEÑAFLOR", "precio":25000},
		{"comuna": "PADRE HURTADO", "precio":21000},
		{"comuna": "PIRQUE", "precio":26000},
		{"comuna": "PROVIDENCIA", "precio":18000},
		{"comuna": "PUDAHUEL", "precio":16000},
		{"comuna": "PUENTE ALTO", "precio":23000},
		{"comuna": "QUINTA NORMAL", "precio":15000},
		{"comuna": "QUILICURA", "precio":16000},
		{"comuna":"RECOLETA", "precio":16000 },
		{"comuna":"LAMPA", "precio": 21000 },
		{"comuna":"RENCA", "precio": 16000 },
		{"comuna":"SAN BERNARDO", "precio": 22000 },
		{"comuna":"SAN CARLOS APOQUINDO", "precio":23000 },
		{"comuna":"SAN JOAQUIN", "precio":18000 },
		{"comuna":"SAN JOSE DE MAIPO", "precio": 33000 },
		{"comuna":"SAN MIGUEL", "precio":18000 },
		{"comuna":"SAN RAMON", "precio":18000 },
		{"comuna":"SANTIAGO", "precio":16000 },
		{"comuna":"TALAGANTE", "precio":26000 },
		{"comuna":"VITACURA", "precio":21000 },
		]
	};
	$(document).ready(function() {
		$(".glide").glide({type: "carousel"});
    	var listItems= "";
		for (var i = 0; i < jsonList.precios.length; i++)
			listItems+= "<div class=\"item\" data-value=\"" + i + "\">" + jsonList.precios[i].comuna + "</div>";
		$("#comunas").html(listItems);
		$('.ui.dropdown').dropdown({
			onChange: function (val) {
				var precioEstacionamiento = jsonList.precios[parseInt(val)].precio + jsonList.estacionamiento;
				$("#precio #normal").html(jsonList.precios[parseInt(val)].precio.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' }));
				$("#precio #estacionamiento").html(precioEstacionamiento.toLocaleString('es-CL', { style: 'currency', currency: 'CLP' }));
				}
			});
	});
	</script>

	
{% endblock %}

{% block bodyContent %}
<div class="ui inverted vertical submasthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Servicios
      </h1>
      <h2>Opciones para cada necesidad</h2>
    </div>
</div>


<div class="ui vertical stripe segment">  
	
	<div class="ui middle aligned stackable grid container">
			<div class="twelve wide column">
				<h1>Encargos</h1>
				<p>Servicio de traslado dedicado para empresas para el transporte de cajas, paquetes y documentos en general.</p>
			</div>
			<div class="four wide right floated column">
				<img src="{% static 'img/OBC7KA0.jpg' %}" class="ui small circular image">
			</div>
	</div>
	<div class="ui vertical vehicles segment">
		<div class="ui equal width middle aligned grid">	
			<div class="centered aligned row">
				<p><b>aplica a</b></p>	
			</div>
			<div class="centered aligned row">
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/car.svg' %}">
					<span>Autos</span>				
				</div>
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/van.svg' %}">
					<span>Van</span>				
				</div>
			</div>
		</div>
	</div>

	<div class="ui middle aligned stackable grid container">
		<div class="twelve wide column">
			<h1>Servicios Especiales</h1>
			<p>Rutas a pedido en las Región V, VI y Metropolitana tanto individuales como flota.</p>
		</div>
		<div class="four wide right floated column">
			<img src="{% static 'img/trvel_pin.jpg' %}" class="ui small circular image">
		</div>

		<div class="row">
			<div class="glide">

			    <div class="glide__arrows">
			        <button class="glide__arrow prev" data-glide-dir="<">prev</button>
			        <button class="glide__arrow next" data-glide-dir=">">next</button>
			    </div>

			    <div class="glide__wrapper">
			        <div class="glide__track">
						<div class="glide__slide" style="background-image: url('{% static 'img/carretera_chile.jpg' %}') ">
							<h3 class="ui slideTitle">Viajes interurbanos</h3>
						</div>
						<div class="glide__slide" style="background-image: url('{% static 'img/DSC_2602.jpg' %}') ">
							<h3 class="ui slideTitle">Matrimonios</h3>
						</div>
						<div class="glide__slide" style="background-image: url('{% static 'img/corporate_events.jpg' %}') ">
							<h3 class="ui slideTitle">Fiestas empresas</h3>
						</div>
						<div class="glide__slide" style="background-image: url('{% static 'img/aaIMG_3692.jpg' %}') ">
							<h3 class="ui slideTitle">Año nuevo y aniversarios</h3>
						</div>
					</div>
			    </div>

			    <div class="glide__bullets"></div>

			</div>
		</div>
	</div>
	<div class="ui vertical vehicles segment">
		<div class="ui equal width middle aligned grid">	
			<div class="centered aligned row">
				<p><b>aplica a</b></p>	
			</div>
			<div class="centered aligned row">
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/car.svg' %}">
					<span>Autos</span>				
				</div>
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/van.svg' %}">
					<span>Van</span>				
				</div>
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/flota.svg' %}">
					<span>Flota</span>				
				</div>
			</div>
		</div>
	</div>

	<div class="ui middle aligned stackable grid container">
		<div class="twelve wide column">
			<h1>Viajes Turísticos</h1>
			<p>Cobertura a los principales destinos turísticos de las regiones V, VI y Metropolitana.</p>
		</div>
		<div class="four wide right floated column">
			<img src="{% static 'img/TA_109387_Vineyards.jpg' %}" class="ui small circular image">
		</div>

		<div class="row">
			<div class="glide">

			    <div class="glide__arrows">
			        <button class="glide__arrow prev" data-glide-dir="<">prev</button>
			        <button class="glide__arrow next" data-glide-dir=">">next</button>
			    </div>

			    <div class="glide__wrapper">
			        <div class="glide__track">
						<div class="glide__slide" style="background-image: url('{% static 'img/monticello.jpg' %}') ">
							<h3 class="ui slideTitle">Casino Monticello</h3>
						</div>
						<div class="glide__slide" style="background-image: url('{% static 'img/Valparaiso_Port_and_cityscape.jpg' %}') ">
							<h3 class="ui slideTitle">Valparaiso</h3>
						</div>
						<div class="glide__slide" style="background-image: url('{% static 'img/Valle_de_Casablanca_1.jpg' %}') ">
							<h3 class="ui slideTitle">Valle de Casablanca</h3>
						</div>
						<div class="glide__slide" style="background-image: url('{% static 'img/Teleférico-de-Santa-Cruz.jpg' %}') ">
							<h3 class="ui slideTitle">Ruta del vino Santa Cruz</h3>
						</div>
						<div class="glide__slide" style="background-image: url('{% static 'img/valle-neado-2016.jpg' %}') ">
							<h3 class="ui slideTitle">Valle Nevado</h3>
						</div>
					</div>
			    </div>

			    <div class="glide__bullets"></div>

			</div>
		</div>
	</div>
	<div class="ui vertical vehicles segment">
		<div class="ui equal width middle aligned grid">
			<div class="centered aligned row">
				<p><b>aplica a</b></p>	
			</div>	
			<div class="centered aligned row">
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/car.svg' %}">
					<span>Autos</span>				
				</div>
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/van.svg' %}">
					<span>Van</span>				
				</div>
			</div>
		</div>
	</div>


	<div class="ui middle aligned stackable grid container">
		<div class="twelve wide column">
			<h1>Viajes a aeropuerto</h1>
			<p>Transporte desde diversas comunas de Santiago a precios convenientes.</p>
		</div>
		<div class="four wide right floated column">
			<img src="{% static 'img/aeropuerto_scl.jpg' %}" class="ui small circular image">
		</div>

		<div class="centered aligned row">
			<div class="eight wide column">
				<small>Escriba o seleccione comuna</small>
				<div class="ui fluid search selection dropdown">
					<input name="country" type="hidden">
					<i class="dropdown icon"></i>
					<div class="default text">Seleccione comuna</div>
					<div class="menu" id="comunas">
					</div>
				</div>
			</div>
			<div class="five wide column" id="precio">
				<p><i>El precio de su viaje es </i></p>				
				<p><i>ida $</i><b id="normal">$---</b></p>
				<p><i>vuelta $</i><b id="estacionamiento">$---</b></p>
			</div>
			<p>Si su comuna no está en la lista, <a class="contacto">contáctenos</a>.</p>

		</div>
	</div>
	<div class="ui vertical vehicles segment">
		<div class="ui equal width middle aligned grid">	
			<div class="centered aligned row">
				<p><b>aplica a</b></p>	
			</div>
			<div class="centered aligned row">
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/car.svg' %}">
					<span>Autos</span>				
				</div>
				<div class="four wide column">
					<img class="ui middle aligned small image" src="{% static 'svg/van.svg' %}">
					<span>Van</span>				
				</div>
			</div>
		</div>
	</div>



</div>



{% endblock %}